@import url('https://fonts.googleapis.com/css2?family=Crete+Round&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

/* import tailwind utilities */
@tailwind base;
@tailwind components;
@tailwind utilities;

h1 {
	font-family: 'Crete Round', serif;
}

/* may be used if we add multiple themes */
/* .theme-light {
    --color-primary-1: 238, 238, 238;
    --color-primary-2: 255, 149, 83;
    --color-primary-3: 66, 76, 85;
    --color-secondary: 21, 176, 151;
    --color-accent: 255, 102, 99;
} */

@layer base {
	h1 {
		@apply font-heading text-heading1;
	}
	h2 {
		@apply font-heading text-heading2;
	}
	p {
		@apply font-body text-body1
	}
}

/* define custom style to reuse for all buttons */
@layer components {
	.btn {
		@apply hover:bg-opacity-80 shadow-lg active:shadow-none;
	}

	.std_button {
		@apply bg-accent w-24 text-white rounded-full btn;
	}

	.std_input {
		@apply bg-primary-1 py-1 px-2 rounded-lg border-none;
	}

	.std_text_area {
		@apply bg-primary-1 py-1 px-2 rounded-lg resize-none border-none;
	}

	.profile_pic_small {
		@apply w-14 h-14 bg-primary-1 rounded-full overflow-hidden flex justify-center items-center;
	}

	.profile_pic_med {
		@apply w-24 h-24 bg-primary-1 rounded-full overflow-hidden flex justify-center items-center;
	}

	.profile_pic_large {
		@apply w-14 h-14 bg-white rounded-full overflow-hidden flex justify-center items-center;
	}
}
